{% extends 'base.html' %}

 {% block title %}
  Удалить поезд - {{ block.super }}
 {% endblock %}

{% block content %}

        <div class="row">

        <div class="jumbotron py-5 my-5 col-md-6 offset-3">

        <h2 class="display-4 pb-3 text-center">Удалить поезд</h2>

        <form action="" method="post">
        {% csrf_token %}

                <p class="lead text-center">Удалить поезд <b>"{{ object }}"</b>?</p>

        <div class="row">

        <div class="col-md-6 my-3">
        <a href="{% url 'train:home' %}" class="btn btn-outline-success btn-lg">Вернуться</a>
        </div>

        <div class="col-md-6 my-3 pl-5">
        <input type="submit" value="Удалить поезд" class="btn btn-outline-danger btn-lg">
        </div>

        </div>

        </form>

        </div>
        </div>

{% endblock %}

















































