{% extends 'base.html' %}

 {% block title %}
  Изменить город - {{ block.super }}
 {% endblock %}

{% block content %}

        <div class="row">

        <div class="jumbotron py-5 my-5 col-md-6 offset-3">

        <h2 class="display-4 pb-3 text-center">Изменить город</h2>

        <form action="" method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <div class="row">

        <div class="col-md-6 my-3">
        <a href="{% url 'city:home' %}" class="btn btn-outline-success btn-lg">Вернуться</a>
        </div>

        <div class="col-md-6 my-3 pl-5">
        <input type="submit" value="Изменить городок" class="btn btn-outline-primary btn-lg">
        </div>

        </div>

        </form>

        </div>
        </div>

{% endblock %}

















































