{% url 'city:home' as city_home_url %}
{% url 'train:home' as train_home_url %}
{% url 'train:add' as train_add_url %}
{% url 'city:add' as city_add_url %}
{% url 'list' as list_url %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
      <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <title>
        {% block title %} Django Вокзал {% endblock %}
    </title>
  </head>
  <body>

  <div class="container">
 <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom shadow-sm">
  <a class="navbar-brand" href="{% url 'home' %}">Django ЖД Вокзал</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item {% if request.path == city_home_url %} active {% endif %}">
           <a class="nav-link" href="{% url 'city:home' %}">Города</a>
      </li>
     <li class="nav-item {% if request.path == train_home_url %} active {% endif %}">
           <a class="nav-link" href="{% url 'train:home' %}">Направления</a>
      </li>
      <li class="nav-item {% if request.path == list_url %} active {% endif %}">
        <a class="nav-link" href="{% url 'list'%} ">Маршруты</a>
      </li>
      <li class="nav-item dropdown
        {% if request.path == train_add_url or request.path == city_add_url %}
           active
        {% endif %}">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Добавить
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'city:add' %}">Новый город</a>
          <a class="dropdown-item" href="{% url 'train:add' %}">Новый поезд</a>
<!--          <a class="dropdown-item" href="#">Something else here</a>-->
        </div>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/admin">Admin</a>
      </li>

        {% if user.is_authenticated %}
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'logout'%} ">Выйти</a>
          </li>
        {% else %}
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'login'%} ">Войти</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'register'%} ">Регистрация</a>
        </li>
        {% endif %}

    </ul>
  </div>
</nav>
 </div>

         <!--  Success_message-->
  <div class="container my-4">
		<div class="row">
			<div class="col-md-8 mx-auto">
			  {% if messages %}
          {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
              <div class="alert alert-danger messages">
                <span {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                Внимание!  {{ message }}<br/>
                </span>
              </div>
            {%else %}
              <div class="alert alert-success messages">
                <span {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}<br/>
                </span>
              </div>
            {% endif %}
          {% endfor %}
			  {% endif %}
			</div>
		</div>
     </div>

 <div class="container">
      {% block content %} {% endblock %}

  <!--  Admin Badge-->
  <div class="container">
      <div class="row">
          <div class="col-md-3 offset-9">
              <a href="/admin" class="badge badge-secondary"
                 style="background-color: #407690">
                  Admin
              </a>
          </div>
      </div>
  </div>

 </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<!--Скрипт select2, после ссылки jquery-->
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<!--Скрипт для работы формы select2 в routes.forms: поле across_cities-->
  <script>
      $(document).ready(function() {
      $('.js-example-basic-single').select2();
      $('.js-example-basic-multiple').select2()
      });
  </script>
  </body>
</html>