{% extends 'base.html' %}

 {% block title %}
  Домашняя - {{ block.super }}
 {% endblock %}

{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Путешествуй вместе с Django</h1>
  <p class="lead">Django (Джанго) — свободный фреймворк для веб-приложений на языке Python,
      использующий шаблон проектирования MVC. Проект поддерживается организацией
      Django Software Foundation. Сайт на Django строится из одного или нескольких приложений,
      которые рекомендуется делать отчуждаемыми и подключаемыми.
      Это одно из существенных архитектурных отличий этого фреймворка от некоторых других
      (например, Ruby on Rails). Один из основных принципов фреймворка —
      DRY (англ. Don't repeat yourself). Также, в отличие от других фреймворков,
      обработчики URL в Django конфигурируются явно при помощи регулярных выражений.
      Для работы с базой данных Django использует собственный ORM,
      в котором модель данных описывается классами Python,
      и по ней генерируется схема базы данных.</p>
</div>

{% endblock %}





































